<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/tables::head">
</head>
<body id="page-top">
<div th:replace="/layout/tables::navbar"></div>
<div id="wrapper">
<div th:replace="/layout/tables::Sidebar"></div>
<div id="content-wrapper">
    <div class="container-fluid">
        <div th:replace="/layout/tables::breadcrumb"></div>

        <!-- DataTables Example -->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Data Table Example
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Province</th>
                            <th>Edit</th>
                            <th>Delete date</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Province</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </tfoot>
                        <tbody>
                            <th:block th:each="customer : ${customerList}">
                                <tr>
                                    <td th:text="${customer.firstName}"></td>
                                    <td th:text="${customer.lastName}"></td>
                                    <td th:text="${customer.province.name}"></td>
                                    <td><a th:href="@{/edit-customer/__${customer.id}__ }">Edit</a></td>
                                    <td><a th:href="@{/delete-customer/__${customer.id}__ }">Delete</a></td>
                                </tr>
                            </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <p class="small text-center text-muted my-5">
            <em>More table examples coming soon...</em>
        </p>
    </div>
    <!-- /.container-fluid -->
    <!-- Sticky Footer -->
    <div th:replace="/layout/tables::footer"></div>
</div>
    <!-- /.content-wrapper -->
<div th:replace="/layout/tables::logoutModal"></div>
<div th:replace="/layout/tables::Scroll"></div>
<div th:replace="/layout/tables::js_source"></div>
</div>
</body>
</html>